* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  background-color: #1d3849;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc {
  width: 419px;
  height: 551px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #142f44;
  border-radius: 2px;
  box-shadow: 10px;
}
.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 322px;
  height: 52px;
  background-color: #1d3849;
  border-radius: 2px;
  margin: 12px 0px;
  padding: 10px;
}
.calc h1 {
  color: #2f4452;
  margin: 3px;
  padding: 5px;
  font-size: 40px;
  font-weight: bold;
}
.screen h1 {
  /* background-color: white; */
  color: black;
  font-size: 25px;
  height: 25px;
  font-weight: bold;
}

.numbers {
  display: grid;
  place-items: center;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.numbers button {
  border-radius: 20px;
  width: 70px;
  height: 75px;
  background-color: #1d3849;
  font-size: 17px;
  font-weight: bold;
}
